doctype html
html(lang='en')
    head
        title VS Card Game
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body
        .buttons
            button#resetBtn Reset
            button#drawP1 Draw P1
            button#drawP2 Draw P2
        #board
            .overlay
                button.close Close
            .heroPiles.pileDiv
                img(src='images/cardBack.png' class='deck pile')
                img(src='images/cardBack.png' class='discardPile pile')
                img(src='images/cardBack.png' class='sourcePile pile')
                img(src='images/cardBack.png' class='damagePile pile')
                button.showDeck Show Deck
            .opPiles.pileDiv
                img(src='images/cardBack.png' class='deck pile')
                img(src='images/cardBack.png' class='discardPile pile')
                img(src='images/cardBack.png' class='sourcePile pile')
                img(src='images/cardBack.png' class='damagePile pile')
                button.showDeck Show Deck
        

        script(src='script.js')
        script(src='game.js')
        script(src='player.js')
        script(src='piles.js')
        script(src='card.js')
        script(src='randomCard.js')
        script(src='cardLib.js')