doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body
        .buttons
            button#resetBtn Reset
            button#drawP1 Draw P1
            button#drawP2 Draw P2
        #board
        

        script(src='script.js')
        script(src='game.js')
        script(src='player.js')
        script(src='piles.js')
        script(src='card.js')