doctype html
html(lang='en')
    head
        title VS Card Game
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    body
        .buttons
            button#resetBtn Reset
            button#drawP1 Draw P1
            button#drawP2 Draw P2
        #board
            .overlay
                button.close Close
            .heroPiles.pileDiv
                .deck.pile
                    img(src='images/cardBack.png' class='deckImage')
                    .deckText.pileText 30
                .discardPile.pile
                    img(src='images/cardBack.png' class='discardImage')
                    .discardText.pileText 0
                .sourcePile.pile
                    img(src='images/cardBack.png' class='sourceImage')
                    .sourceText.pileText 0
                .damagePile.pile
                    img(src='images/cardBack.png' class='damageImage')
                    .damageText.pileText 0
                button.showDeck Show Deck
            .opPiles.pileDiv
                .deck.pile
                    img(src='images/cardBack.png' class='deckImage')
                    .deckText.pileText 30
                .discardPile.pile
                    img(src='images/cardBack.png' class='discardImage')
                    .discardText.pileText 0
                .sourcePile.pile
                    img(src='images/cardBack.png' class='sourceImage')
                    .sourceText.pileText 0
                .damagePile.pile
                    img(src='images/cardBack.png' class='damageImage')
                    .damageText.pileText 0
                button.showDeck Show Deck
        

        script(src='script.js')
        script(src='game.js')
        script(src='player.js')
        script(src='piles.js')
        script(src='card.js')
        script(src='randomCard.js')
        script(src='cardLib.js')