
_f = 1
_unit = _f*1.5vw
$cardWidth = 10.5*_unit
$cardHeight = 15*_unit
$zoneHeight = 1.8*_unit
_attributeHeight = 0.9*_unit
$powerHeight = 0.8*_unit
_colorBoxWidth = 1.8*_unit
_colorBoxHeight = 0.9*_unit

pos1 = 0.25
pos2 = pos1 +0.04
pos3 = pos2 +0.09


body
    background: #e3e3e3;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family Helvetica
    letter-spacing 1px
    
    .buttons
        float left
    #board
        margin-top: 0%;
        display: inline-block;
        background #567372
        width 100vw
        height 100vh

.card
    height $cardHeight
    width $cardWidth
    background-color black
    position absolute
    //border solid 0.2*_unit black
    overflow hidden
    border-radius 3%
    .cardBack
        &:hover
            cursor pointer
    .cardImage
        height 100%
        width 100%
        position absolute
        bottom 0
        left 0
    .bgGradient
        height 100%
        width 100%
        position absolute
        top 0
        left 0
        background linear-gradient(transparent, black)
        opacity 0.5
        //background linear-gradient(red, yellow)
    .icon
        height $zoneHeight*0.95
        //width $zoneHeight*0.95
        position relative
        float left
        top 0.2*_unit
        left 0.2*_unit
    .zone-wrapper
        top 0.2*_unit
        left 0.2*_unit
        background black
        height $zoneHeight
        width $zoneHeight
        position absolute
        border-radius 12%
        .icon
            height $zoneHeight*0.95
            width $zoneHeight*0.95
            //position absolute
            display inline-block
            top 0.2*_unit
            left 0.2*_unit
        .zoneDiv
            background white
            _factor = 0.85
            height $zoneHeight*_factor
            width $zoneHeight*_factor
            position absolute
            margin $zoneHeight*(0.5 - _factor/2)
            border-radius 12%
            .icon
                height 95%
                width 95%
                    
            .cardClass
                color white
                display inline-block
                float left
                margin-left 0.3*_unit
                font-weight bold
                font-size _unit
    .cardPower
        color white
        position absolute
        top $zoneHeight+1.5*_unit
        left 0.2*_unit
        .block
            display block
            width $powerHeight
            height $powerHeight
            background white
            margin-bottom 0.3*_unit
            border-radius 20%
    .cardAttribute
        color white
        margin-left 0.3*_unit
        position absolute
    .playDiv
        display: none
        position: relative
        .arrow
            position absolute
            height: 1.4*_unit
            z-index: 10
            top 0.4*_unit
            opacity: 0.7
            border-radius: 3px
            &.left
                left 0.5*_unit
                transform: scaleX(-1);
            &.right
                right 0.5*_unit
            &:hover
                background-color grey
                cursor pointer
            &:active
                background-color yellow !important
        .playBtn
            color white
            font-weight bold
            font-size _unit
            background #000000d6
            padding 0.5*_unit
            display none
            position absolute 
            width 100%
            &:hover
                cursor pointer
                background #777
            &:active
                background yellow
            
    .attributeDiv
        width $cardWidth
        height _attributeHeight
        bottom $cardHeight*pos3
        position absolute
        text-align left
        .attribute
            height 100%
            height _attributeHeight
            display inline-block
            position relative
            margin-left 0.2*_unit
            border-radius 4%
            opacity 0.8
            img
                height 120%
                position relative
            .attrText
                font-weight bold
                font-size: 1*_unit
                position absolute
                left 0.25*_unit
                top 0
                text-align center
    
    .title
        background white
        $_margin = 0.2*_unit
        width $cardWidth - $_margin*2
        height 1*_unit
        margin 0 $_margin
        position absolute
        bottom $cardHeight*pos2
        font-weight bold
        font-size 0.8*_unit
        clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
        opacity 0.9
    .colorBox
        width _colorBoxWidth
        height _colorBoxHeight
        position absolute
        bottom 0
        background black
        left  $cardWidth*0.5 - _colorBoxWidth*0.5
        border-radius 12%
        font-size 0.7*_unit
        font-weight bold
        color rgba(255,255,255,0.8)
        
    .textBox
        background white
        $_margin = 0.2*_unit
        width $cardWidth - $_margin*2
        height $cardHeight*pos1
        margin 0 $_margin
        bottom 0.3*_unit
        position absolute
        font-size 0.6*_unit
        font-family Tahoma
        border-radius 3%
        letter-spacing 0.01*_unit
        opacity 0.8
        text-align left
        overflow hidden
        .text
            margin-left 0.2*_unit
        .linkSymbol
            display inline-block
            height 0.7*_unit
            opacity 0.8
            vertical-align bottom
        .colorSymbol
            display inline-block
            font-weight bold
            padding 0 0.1*_unit
            color white
            border-radius 2px
        
        &:hover
            height $cardHeight*0.6
            font-size _unit
            .linkSymbol
                height 1.2*_unit !important
        
    
    &.selected
        .playBtn
            display block !important
    &:hover
        //border solid 0.2*_unit yellow
        .playDiv
            display block !important